<div>
    <button style="text-align: center;" onclick="location.href = '/admin/article/create'">Създай</button>
</div>
<th:block th:each="article : ${articles}">
    <article th:id="${article.id}" class="post style1">
        <div class="image">
            <img th:src="${article.imgURLs[0]}" alt="Article image" data-position="75% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2><a th:href="@{/article/{id}(id=${article.id})}">[[${article.title}]]</a></h2>
                    <!--<p class="info">3 days ago by <a href="#">Jane Doe</a></p>-->
                </header>
                <p>[[${article.content}]]</p>
                <ul class="actions">
                    <li><a th:href="@{/article/{id}(id=${article.id})}" class="button alt">Прочетете повече</a></li>
                    <li><a th:href="@{/admin/article/{id}/edit(id=${article.id})}" class="button">Редактирайте</a></li>
                    <li><a th:href="@{/admin/article/{id}/delete(id=${article.id})}" class="button alt">Изтрий</a></li>
                </ul>
            </div>
            <div class="postnav">
                <a th:href="@{'#' + ${article.id - 1}}" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
                <a th:href="@{'#' + ${article.id + 1}}" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
        </div>
    </article>
</th:block>
<script th:src="@{/assets/js/my-utils.js}"></script>