<h1>Създай Статия</h1>
<section>
    <div>
        <form th:action="@{/admin/article/create}"
              method="POST" th:object="${article}">
            <div>
                <label for="title">Заглавие</label>
                <input type="text" th:field="*{title}"/>

                <label for="imgURLs">URL-ли на картините</label>
                <textarea id="imgURLs" name="imgURLs" placeholder="URL-ли на картините"></textarea>

                <label for="content">Съдържание</label>
                <textarea th:field="*{content}" placeholder="Съдържание..."></textarea>

                <div>
                    <button type="submit">Създай</button>
                </div>
            </div>
        </form>
    </div>
</section>