<section>
    <div>
        <form th:action="@{/admin/article/{id}/delete(id=${article.id})}"
              method="POST" th:object="${article}">
            <div>
                <label for="title">Заглавие</label>
                <input type="text" th:field="*{title}" disabled="disabled"/>

                <label for="imgURLs">URL-ли на картините</label>
                <textarea id="imgURLs" name="imgURLs" disabled="disabled">
                    [[${imgUrlString}]]
                </textarea>

                <label for="content">Съдържание</label>
                <textarea th:field="*{content}" disabled="disabled">
                    [[${content}]]
                </textarea>

                <div>
                    <button type="submit">Изтрий</button>
                </div>
            </div>
        </form>
    </div>
</section>