<section>
    <div>
        <form th:action="@{/admin/article/{id}/edit(id=${article.id})}" method="POST">
            <div>
                <label for="title">Заглавие</label>
                <input type="text" id="title" name="title" th:value="${article.title}" />

                <label for="imgURL">URL на картина</label>
                <input id="imgURL" name="imgURL" th:value="${article.imgURL}"/>

                <label for="content">Съдържание</label>
                <textarea id="content" name="content" >
                    [[${article.content}]]
                </textarea>

                <div>
                    <p>Снимка:</p>
                    <div>
                        <img th:src="${article.imgURL}"/>
                    </div>
                </div>

                <div>
                    <button type="submit">Редактирай</button>
                </div>
            </div>
        </form>
    </div>
</section>