<section>
    <div>
        <form th:action="@{/admin/article/{id}/edit(id=${article.id})}"
              method="POST">
            <div>
                <label for="title">Заглавие</label>
                <input type="text" id="title" name="title" th:value="${article.title}" />

                <label for="imgURLs">URL-ли на картините</label>
                <textarea id="imgURLs" name="imgURLs">
                    [[${imgUrlString}]]
                </textarea>

                <label for="content">Съдържание</label>
                <textarea id="content" name="content" th:value="${article.content}">
                    [[${article.content}]]
                </textarea>
                
                <div>
                    <button type="submit">Редактирай</button>
                </div>
            </div>
        </form>
    </div>
</section>