<section id="main">
    <div class="inner">
        <header>
            <h1>[[${article.title}]]</h1>
            <!--<p class="info">3 days ago by <a href="#">Jane Doe</a></p>-->
        </header>
        <th:block th:each="imgURL, iterStat : ${article.imgURLs}">
            <p>
                <span class="image" th:classappend="${iterStat.odd} ? left : right">
                    <img th:src="${imgURL}" alt="Article image"/>
                </span>
                [[${contents[iterStat.index]}]]
            </p>
        </th:block>
    </div>
</section>