<section id="banner">
    <div class="inner">
        <h1>Медицински услуги ДКЦ-1 град Лом</h1>
        <ul class="actions vertical">
            <th:block th:each="article : ${articles}">
                <li>
                    <a th:href="@{'#' + ${article.id}}" class="button alt scrolly big">[[${article.title}]]</a>
                </li>
            </th:block>
        </ul>

        <ul class="actions fit">

            <li><a href="#1" class="button alt scrolly big">Продължете</a></li>
        </ul>

    </div>
</section>