<footer id="footer">
    <div>
        <button type="button" style="background-color: transparent">
            <a href="tel:+359899588830" style="text-decoration: none; font-size: 26px;">
                <img style="max-height: 30px;" src="http://www.usstoneoutlet.com/media/uploads/2017/09/phone1.png"/>
                +359899588830
            </a>
        </button>
    </div>
    <div>
        <button type="button" style="background-color: transparent">
            <a href="tel:+359883558644" style="text-decoration: none; font-size: 26px;">
                <img style="max-height: 30px;" src="http://www.usstoneoutlet.com/media/uploads/2017/09/phone1.png"/>
                +359883558644
            </a>
        </button>
    </div>

    <ul class="icons">
    <!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
    </ul>

    <div class="copyright">
        &copy; Медицина - град Лом. Дизайн: <a href="https://templated.co">TEMPLATED</a>.
    </div>
</footer>
